<div class="main-container container" style="margin-top: 50px;">
  <form id="j_idt254" name="j_idt254" method="post" action="https://myu.universitecentrale.net/sge/portal/cvEdit.faces" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="j_idt254" value="j_idt254" wfd-invisible="true">
    <input type="hidden" name="_cid" value="1c2" id="cid" wfd-invisible="true">
    <input id="j_idt254:_cid" type="hidden" name="j_idt254:_cid" value="1c2" wfd-invisible="true">
    <input type="hidden" name="javax.faces.ViewState" id="j_id1:javax.faces.ViewState:7" value="-7533580966967624620:7942874645225388422" autocomplete="off" wfd-invisible="true">
  </form>
  <div class="page-title">
    <h1 class="tracking-in-expand">Guide de la Carte Séjour</h1>
  </div>

  <form id="form" name="form" method="post" action="https://myu.universitecentrale.net/sge/portal/cvEdit.faces" enctype="multipart/form-data">
    <input type="hidden" name="form" value="form">

    <div id="messagesRegion" aria-label="form feedback" aria-live="assertive" aria-relevant="additions">
      <div id="form:messages"></div>
    </div>

    <input type="hidden" name="_cid" value="1c2" id="cid">

    <div class="box dark qz-edit-box">
      <div id="div-1" class="body">
        <input type="hidden" name="_cid" value="1c2" id="cid">
        <table id="form:form_content" class="aria-role-presentation">
          <tbody>
          <tr><td></td></tr>
          </tbody>
        </table>
        <table id="form:rest-form-content" class="aria-role-presentation">
          <tbody>
          <tr><td></td></tr>
          </tbody>
        </table>

        <div class="container-main">
          <div class="outer-wrapper">
            <div id="form:cvSectionsSteps" class="ui-steps ui-widget ui-helper-clearfix customSteps steps-10">
              <ul role="tablist">
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-steps-number">1</span><span class="ui-steps-title">Bienvenue</span></a></li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-steps-number">2</span><span class="ui-steps-title">Conditions</span></a></li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-steps-number">3</span><span class="ui-steps-title">Acceptation</span></a></li>
                <li class="ui-steps-item ui-state-highlight ui-corner-all" role="tab"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-steps-number">4</span><span class="ui-steps-title">Félicitations</span></a></li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-steps-number">5</span><span class="ui-steps-title">Validation</span></a></li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-steps-number">6</span><span class="ui-steps-title">Attente</span></a></li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-steps-number">7</span><span class="ui-steps-title">Rappel</span></a></li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab"><a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#"><span class="ui-steps-number">8</span><span class="ui-steps-title">Fin</span></a></li>
              </ul>
            </div>
            <div id="form:j_idt296"></div>
            <hr>
            <div id="form:section-wrapper" class="ui-outputpanel ui-widget position-relative">
              <div id="form:j_idt325" class="ui-outputpanel ui-widget">
                <div id="form:j_idt326" class="ui-outputpanel ui-widget d-flex gap-10">
                  <span class="flex-grow-1 d-flex flex-column align-items-center">
                    <span style="font-size: 80px;">
                      <strong>Félicitations</strong>
                    </span><br>
                    <span>
                      <h2>pour l'obtention de la carte provisoire!</h2>
                    </span>
                    <hr>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3><br><br><br><br><br>
                  </span>
                </div>
              </div>
              <a [routerLink]="['/user/step5',userId]" id="form:hideAdvise" class="ui-commandlink ui-widget btn btn-lg btn-styled float-right pull-right">
                <i class="fas fa-check mr-2"></i>Suivant
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
