header {
  text-align: center;
  background-color: #666;
  margin-bottom: 20px;
  padding: 10px;
}
a {
  margin: 0 10px;
  //text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #666;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}
