.sge-color-red {
    color: #c70000;
}

.sge-color-green {
    color: #027f02;
}

.sge-color-blue {
    color: #5883f0;
}

.sge-color-blue-dark {
    color: #483d8b;
}

.sge-color-violet {
    color: #9f009e;
}

.sge-color-orange {
    color: #c03a00;
}

.sge-color-gray-light {
    color: #888888;
}

.sge-color-blue-grey {
    color: #4d697a;
}