
<div class="main-container container" style="margin-top: 50px;">

  <div class="page-title">
    <h1 class="tracking-in-expand">Guide de la Carte Séjour</h1>
  </div>


    <div id="messagesRegion" aria-label="form feedback" aria-live="assertive" aria-relevant="additions">
      <div id="form:messages">
      </div>
    </div>

    <input type="hidden" name="_cid" value="1c2" id="cid">

    <div class="box dark qz-edit-box">
      <div id="div-1" class="body">
        <div class="container-main">
          <div class="outer-wrapper">
            <div id="form:cvSectionsSteps" class="ui-steps ui-widget ui-helper-clearfix customSteps steps-10">
              <ul role="tablist">
                <li class="ui-steps-item ui-state-highlight ui-corner-all" role="tab">
                  <a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#">
                    <span class="ui-steps-number">1</span>
                    <span class="ui-steps-title">Bienvenue</span>
                  </a>
                </li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab">
                  <a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#">
                    <span class="ui-steps-number">2</span>
                    <span class="ui-steps-title">Conditions</span>
                  </a>
                </li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab">
                  <a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#">
                    <span class="ui-steps-number">3</span>
                    <span class="ui-steps-title">Acceptation</span>
                  </a>
                </li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab">
                  <a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#">
                    <span class="ui-steps-number">4</span>
                    <span class="ui-steps-title">Félicitation</span>
                  </a>
                </li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab">
                  <a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#">
                    <span class="ui-steps-number">5</span>
                    <span class="ui-steps-title">Validation</span>
                  </a>
                </li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab">
                  <a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#">
                    <span class="ui-steps-number">6</span>
                    <span class="ui-steps-title">Attente</span>
                  </a>
                </li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab">
                  <a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#">
                    <span class="ui-steps-number">7</span>
                    <span class="ui-steps-title">Rappel</span>
                  </a>
                </li>
                <li class="ui-steps-item ui-state-default ui-corner-all" role="tab">
                  <a tabindex="-1" class="ui-menuitem-link ui-corner-all" href="#">
                    <span class="ui-steps-number">8</span>
                    <span class="ui-steps-title">Fin</span>
                  </a>
                </li>
              </ul>
            </div>
            <div id="form:j_idt296"></div>
            <hr>
            <div id="form:section-wrapper" class="ui-outputpanel ui-widget position-relative">
              <div id="form:j_idt325" class="ui-outputpanel ui-widget">
                <div id="form:j_idt326" class="ui-outputpanel ui-widget d-flex gap-10">
                  <!--Commentaire de referencement---->
                  <img src="assets/pic.png" style="margin-right: 25px;">
                  <span class="flex-grow-1">
                    <span style="font-size:20px;"><strong>Bienvenue dans le Guide de la Carte Séjour</strong></span>
                    <hr>
                    A votre arrivée, pensez automatiquement à déposer votre dossier pour l’obtention d’une carte de séjour au commissariat de police le plus proche de votre lieu de résidence
                    <br>
                    Votre dossier doit comporter les pièces suivantes :
                    <ul>
                      <li>Une attestation d’inscription de l’année en cours dans un établissement universitaire (légalisé par les services concernés du MESRS pour le cas des étudiants des établissements privés)</li>
                      <li>Une attestation de paiement des frais d’inscription</li>
                      <li>Un certificat de présence</li>
                      <li>Un document de solvabilité de 1500 dt ou une attestation de bourse</li>
                      <li>Un contrat de location ou une attestation d’hébergement</li>
                      <li>Deux photos d’identité</li>
                      <li>Une quittance de 75 dt auprès des recettes des finances quand votre demande est effectuée dans les délais </li>
                      <li>Une photocopie de la première page et de la page d’entrée de votre passeport</li>
                    </ul>
                    Si vous n’êtes pas soumis à la condition d’une demande de visa pour entrer en Tunisie, vous bénéficiez de 3 mois de séjour, à partir de la date d’arrivée.
                    Si vous êtes soumis à la condition d’un visa, commencez par vérifier la durée de séjour qui vous a été accordée.

                    <br><br>
                    NB. Tout dépôt hors délai entrainera une amende de 300 dt
                    <br>
                    <br>
                    NB. En cas de renouvellement de votre carte de séjour, sachez que le 30 septembre est le dernier délai.
                    <br>
                    <br>
                   <input type="checkbox" id="test" [(ngModel)]="isChecked" (change)="updateIsChecked(isChecked)">
                      <label for="test">
                        <span style="font-size: 15px; color: red;">&nbsp;Je souhaite renouveler ma carte de séjour (Pour les anciens étudiants)&nbsp;</span>
                      </label>

                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table id="form:grid-exmSchedule-buttons" class="mt-3">
      <tbody>
      <tr>
        <td class="clmn-2"></td>
        <td class=" clmn-2"><a [routerLink]="['/user/step2',userId]" id="form:hideAdvise" class="ui-commandlink ui-widget btn btn-lg btn-styled float-right pull-right">
          <i class="fas fa-check mr-2"></i>Suivant
        </a></td>
      </tr>
      </tbody>
    </table>
  <br><br><br>
</div>



