<app-navbar></app-navbar>
<div class="container" style="margin-top: 50px; margin-bottom: 50px;">

    <div class="page-title">
      <h1 class="tracking-in-expand">La Visite médicale & Les Bilans Obligatoires</h1>
    </div>
    <div class="two-column-container">
        <div class="left-column">
            <img src="../../../assets/visite.jpeg">
        </div>
        <div class="right-column">
            <h2>
                En tant qu'étudiant international, vous êtes tenu d'effectuer une visite médicale et des bilans obligatoires et confidentiels.
                Les bilans obligatoires sont des bilans sanguins, des selles et des urines pour détecter différentes maladies 
                (VIH, Syphilis, Paludisme, sérologie hépatite B. bilharziose et amibiase). 
                Ils vous seront prescrits soit par le médecin universitaire, soit lors d'une visite médicale au centre de médecine scolaire et universitaire. 
                En cas de maladie avérée vous serez informé, orienté et pris en charge selon les protocoles en vigueur. 
                Ces bilans sont gratuits si vous êtes inscrit dans un établissement universitaire public, et à votre charge (estimés entre 70 et 80 dt) 
                si vous êtes inscrit dans un établissement privé d'enseignement supérieur.
            </h2>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>