<nav class="sge-main-menu navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a id="mainForm:navbar-brand" name="mainForm:navbar-brand" href="" class="navbar-brand"><span class="home-logo"><img alt="" border="0" height="50" hspace="0" src="../assets/nav-logo.png" style="width:212px;height:50px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;border:0px solid black;" vspace="0" width="212"></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto sge-main-menu">
                    <li class="nav-item  sge-menu-self"><a id="mainForm:j_idt661" href="#" class="ui-commandlink ui-widget nav-link">
                            <span class="sge-menu-text"><i class="fa fa-volleyball-ball mr-2"></i>Student Life</span></a>
                    </li>
                    <li class="nav-item  dropdown sge-menu-actuality">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                            <span class="sge-menu-text"><i class="far fa-newspaper mr-2"></i>Publications</span>
                        </a>
                        <div class="dropdown-menu">
                                <a class="dropdown-item " href="/sge/portal/news.faces">Actualités</a><a id="mainForm:createDocumentView" href="#" class="ui-commandlink ui-widget dropdown-item ">
                                    Documents
                                </a>
                                <a class="dropdown-item " href="/sge/portal/galleries.faces"><span class="sge-menu-text">Galeries</span></a>
                        </div>
                    </li>
                    <li class="nav-item  dropdown sge-menu-offers">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                            <span class="sge-menu-text"><i class="fas fa-user-tie mr-2"></i>Employabilité</span>
                        </a>
                        <div class="dropdown-menu">
                            <a id="mainForm:createEmplyabilityDocumentView" href="#" class="ui-commandlink ui-widget dropdown-item " >Je me prépare</a>
                                <a class="dropdown-item" target="_blank" href="https://uc.careercenter.tn/">Career Center</a>
                                <a class="dropdown-item " href="javascript:redirectToCvSelectPage();">Je crée mon CV</a>
                        </div>
                    </li>
                    <li class="nav-item  dropdown sge-menu-myspace">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                            <span class="sge-menu-text"><i class="fas fa-gem mr-2"></i>Mon espace</span>
                        </a>
                        <div class="dropdown-menu">
                                <a class="dropdown-item" href="">Emploi du temps</a>
                                <a class="dropdown-item" href=""> Plan d'études</a>
                                <a class="dropdown-item" href="">Mes enseignants</a>
                                <a class="dropdown-item" href="">Planning examens</a>
                                <a class="dropdown-item" href="">Absences</a>
                                <a class="dropdown-item" href="">Notes et résultats</a>
                                <a class="dropdown-item" href="">Stages</a>
                                <a class="dropdown-item" href="">Mes diplômes</a>
                                <a class="dropdown-item" href="">Paiement</a>
                        </div>
                    </li>
                    <li class="nav-item  dropdown sge-menu-myspace">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                            <span class="sge-menu-text"><i class="fas fa-atlas mr-2"></i>Mes cours</span>
                        </a>
                        <div class="dropdown-menu">
                                <a class="dropdown-item " href="">Cours en ligne</a>
                                <a class="dropdown-item" href="">Blackboard</a>
                        </div>
                    </li>
                    <li class="nav-item  dropdown sge-menu-myspace">
                        <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-bs-toggle="dropdown">
                            <span class="sge-menu-text"><i class="fas fa-user-graduate"></i>Student Care</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" style="cursor: pointer;" (click)="goToProfile()">Carte Séjour</a></li>
                            <li><a class="dropdown-item" href="/sante">Bonne Santé</a></li>
                            <li><a class="dropdown-item" href="/actualites">Actualités</a></li>
                            <li><a class="dropdown-item" href="/bon-plan">Bons Plans</a></li>
                        </ul>
                    </li>
                    <li class="nav-item  sge-menu-self"><a id="mainForm:j_idt98" href="" class="ui-commandlink ui-widget nav-link">
                            <span class="sge-menu-text"><i class="fas fa-concierge-bell mr-2"></i>Services</span></a>
                    </li>
            </ul>
        </div>
    </div>
</nav>