p {
    font-size: 15px;
}
h2 {
    font-size: 35px;
}
.round-image {
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    border: 0px solid rgb(33, 37, 41);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

