<app-navbar></app-navbar>

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">

  <div class="page-title">
    <h1 class="tracking-in-expand">{{ bonplan.titre }}</h1>
  </div>
  <div style="width: 70%; float:left;">
    <div class="image-carousel">
      <img [src]="bonplan.image_url" class="card-img-top" style="height: 300px; object-fit: cover;" alt="Image de l'actualité">
    </div>
  
    <div>
      <p class="card-text"><small class="text-muted"><i class="fa fa-edit mr-1"></i>{{ bonplan.date_publication }}</small></p>
    </div>
  
    <div>
      <p>{{ bonplan.description_l }}</p>
     </div>
  </div>
  <div style="width: 30%; float:right; text-align: center;">
      <h2>Publié Par:</h2>
      <img class="round-image" src="../../assets/dorsaf.jpeg" alt="">
      <br><br>
      <p>Mme Dorsaf Khouaja</p>
      <p>Numéro: +216 29 916 236</p>
      <p>Email: D.Khouaja@myu.honoris.tn</p>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>